
/_ReSharper.efficientlylazycrypto
/Source/EfficientlyLazy.Crypto.Demo/bin
/Source/EfficientlyLazy.Crypto.Demo/obj
/efficientlylazycrypto.suo
/efficientlylazycrypto.5.0.ReSharper.user
/Source/EfficientlyLazy.Crypto.v20/bin
/Source/EfficientlyLazy.Crypto.v20/obj
/Source/EfficientlyLazy.Crypto.v35/bin
/Source/EfficientlyLazy.Crypto.v35/obj
/Source/EfficientlyLazy.Crypto.v40/bin
/Source/EfficientlyLazy.Crypto.v40/obj
/Tests/EfficientlyLazy.Crypto.v20.Test/bin
/Tests/EfficientlyLazy.Crypto.v20.Test/obj
/Tests/EfficientlyLazy.Crypto.v35.Test/bin
/Tests/EfficientlyLazy.Crypto.v35.Test/obj
/Tests/EfficientlyLazy.Crypto.v40.Test/bin
/Tests/EfficientlyLazy.Crypto.v40.Test/obj
/Build/Artifacts