/src/_ReSharper.EfficientlyLazy.Crypto
/src/EfficientlyLazy.Crypto.Demo/bin
/src/EfficientlyLazy.Crypto.Demo/obj
/src/EfficientlyLazy.Crypto.suo
/src/EfficientlyLazy.Crypto.5.0.ReSharper.user
/src/EfficientlyLazy.Crypto/bin
/src/EfficientlyLazy.Crypto/obj
/src/EfficientlyLazy.Crypto.Tests/bin
/src/EfficientlyLazy.Crypto.Tests/obj
/Build/Artifacts