<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="validClearText" connectionString="Data Source=datasource1;Initial Catalog=initialcatalog1;User Id=username1;Password=password1;"/>
    <add name="validEncrypted" connectionString="yeXq/PisaiVaCS5aVG/8SOlDjuH84lg78B4E9LG+ua1+YJJ1Qv6PC7Tjkx2zeMMda6XTZlnbazYu4gCFwOzVLkffOAgnrHvDGXq2yPnPJHDh9OOKkgpAeQtDHKpwnUSz"/>
    <add name="updateClearText" connectionString="Data Source=datasource3;Initial Catalog=initialcatalog3;User Id=username3;Password=password3;"/>
    <add name="updateEncrypted" connectionString="Data Source=datasource4;Initial Catalog=initialcatalog4;User Id=username4;Password=password4;"/>
    <add name="updateInvalidName" connectionString="Data Source=datasource5;Initial Catalog=initialcatalog5;User Id=username5;Password=password5;"/>

    <add name="encrypted" connectionString="yeXq/PisaiVaCS5aVG/8SBk7Pbtciuz53gCfkC29WiR+YJJ1Qv6PC7Tjkx2zeMMdjSR60yqwvWNQY8c26IUKv0YEugYFd5OmHH2xHOKMh8gaUATibaSyC3p9wrkd/dWJ"/>
    <add name="decrypted" connectionString="Data Source=datasource7;Initial Catalog=initialcatalog7;User Id=username7;Password=password7;"/>

  </connectionStrings>
</configuration>