<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SecureConfig" type="EfficientlyLazy.Crypto.Configuration.SecureSectionHandler, EfficientlyLazy.Crypto"/>
  </configSections>
  <SecureConfig type="EfficientlyLazy.Crypto.Configuration.SecureSection, EfficientlyLazy.Crypto">
    <settings>
      <setting key="App.Setting.01" value="Simple Setting Data"/>
      <setting key="App.Setting.02" value="Another Simple Setting Data"/>
      <setting key="App.Setting.03" value="FoTB1x12PPx736bHZq++IKvh/kQCArjEKd0OmC1ppjoiMPEVs+SrwsCcHEcTz8yi" isencrypted="true"/>
      <setting key="App.Setting.04" value="0V6KOK1ot2II06Q03S/grjjBDe1NYFUGqYKtlUFA8PSboFAAaxaXY2fzsLIJNBSdrwraLzoiKtOuldELxsheZg==" isencrypted="true"/>
      <setting key="App.Setting.05" value="0V6KOK1ot2II06Q03S/grjjBDe1NYFUGqYKtlUFA8PSboFAAaxaXY2fzsLIJNBSdrwraLzoiKtOuldELxsheZg==" isencrypted="false"/>
      <setting key="App.Setting.06" value="should bomb" isencrypted="true"/>
    </settings>
    <sqlservers>
      <sqlconnection key="CONNECTION01">
        <server>server</server>
        <database>db</database>
        <usewinauth>false</usewinauth>
        <userid>uid</userid>
        <password>pass</password>
      </sqlconnection>
      <sqlconnection key="CONNECTION02">
        <server>server</server>
        <database>db</database>
        <usewinauth>false</usewinauth>
        <encrypteduserid>SjmWDkDCUkVpYCdK63LJuHxJ4lXB4Nia7L8qyRugB4U=</encrypteduserid>
        <encryptedpassword>YTDAKPDidDwWpv+7zAygnQqvVPTat88RDotFSLpjWrgE9M0i3a1h1EMFbaiEXwXj</encryptedpassword>
      </sqlconnection>
      <sqlconnection key="CONNECTION03">
        <server>server</server>
        <database>db</database>
        <usewinauth>false</usewinauth>
        <userid>unEncryptedUser</userid>
        <encrypteduserid>SjmWDkDCUkVpYCdK63LJuHxJ4lXB4Nia7L8qyRugB4U=</encrypteduserid>
        <password>unEncryptedPassword</password>
        <encryptedpassword>YTDAKPDidDwWpv+7zAygnQqvVPTat88RDotFSLpjWrgE9M0i3a1h1EMFbaiEXwXj</encryptedpassword>
      </sqlconnection>
      <sqlconnection key="CONNECTION04">
        <server>server</server>
        <database>db</database>
        <usewinauth>true</usewinauth>
        <userid>uid</userid>
        <password>pass</password>
      </sqlconnection>
      <sqlconnection key="CONNECTION05">
        <server>server</server>
        <database>db</database>
        <usewinauth>false</usewinauth>
        <userid>uid</userid>
        <password>pass</password>
        <showworkstationid>true</showworkstationid>
      </sqlconnection>
      <sqlconnection key="CONNECTION06">
        <applicationname>My Awesome App</applicationname>
        <server>server</server>
        <database>db</database>
        <usewinauth>false</usewinauth>
        <userid>uid</userid>
        <password>pass</password>
        <showworkstationid>true</showworkstationid>
      </sqlconnection>
      <sqlconnection key="CONNECTION07">
        <server>server</server>
        <database>db</database>
        <usewinauth>false</usewinauth>
        <userid>uid</userid>
        <password>pass</password>
        <showworkstationid>true</showworkstationid>
        <settings>
          <setting key="Timeout" value="1000"/>
          <setting key="invalid" value="nothing"/>
          <setting key="Pooling" value="false"/>
        </settings>
      </sqlconnection>
    </sqlservers>
  </SecureConfig>
</configuration>
